/*NavContent componenet*/
.side-header{
    padding-top: 1.7rem;
    padding-left: 1rem;
    padding-right: 0.4rem;
    padding-bottom: 1.1rem;
    margin-left: 0px;
}

.id-card.row{
    margin-top: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem; 
    margin-bottom: 1rem;
    background-color: #A8A8A8; 
    
}
  
.nav-icon-box{
    margin-top: 2.5rem;
}


.nav-links{
    padding-left:2rem;
  
}
  
.icon-row{
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.icon-row:hover{
    background-color:#909090;
    opacity: 0.98;
}
  
  
a.icon-side-spacing{
    padding-left: 2rem;
    color:rgb(72,72,72);
  
  
}
  
a.icon-side-spacing:hover{
    text-decoration: none;
    color: inherit;
  
}

.links-list{
    list-style-type: none;
    padding-left: 2rem;
}

.icon-text{
    padding-left:1.4rem;
    line-height: 1.57143;
    font-size: 1rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#f6f6f6;
}

.brand{
    color:#fff ;
}


  
  
.icon-colour{
    color: rgb(99, 115, 129);
   
}

/*TopDisplayBar component*/
#stale{
  
    margin-left: 0rem;
    margin-right: 0rem;
    background: #f5f5f5;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }


 /*TestLogin and TestSignUp*/
 .authentication-card{
     margin-top:5rem;
     padding-top: 2rem;
 } 

 /*CarCard*/
 .car-card{
    margin-bottom: 2rem;
    border-radius: 0.75rem;
    box-shadow: rgb(145 158 171 / 40%) 0px 0px 2px 0px, rgb(145 158 171 / 40%) 0px 16px 32px -4px;
 }

 .card-border{
     padding-top: 1rem;
     border-top: 2px solid #F0F0F0;
 }

 .image-border{
     border-top-left-radius: 0.75rem;
     border-top-right-radius: 0.75rem;
 }

 a.stretched-link{
     color: inherit;
     text-decoration: none;
 }

 /*CCustom Bootstrap Container element*/
 .custom-container.container{
     padding-left: 2rem;
     padding-right: 2rem;
 }


 /*Avatar dropdown*/
 .dropdown-toggle::after{display:none}

 .dropdown-menu{
     left: -7.2rem;
 }


 /*Rounded button*/
 .rounded-button{
     border-radius: 20px;
 }
