/*NavContent componenet*/
.side-header{
    padding-top: 1.7rem;
    padding-left: 0.7rem;
    padding-right: 0.5rem;
    padding-bottom: 1.1rem;
}

.id-card.row{
    margin-top: 1.2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border-radius: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 1.2rem; 
    margin-bottom: 1rem;
    background-color: whitesmoke; 
}
  
.nav-icon-box{
    margin-top: 2.5rem;
}


.nav-links{
    padding-left:2rem;
  
}
  
.icon-row{
    padding-bottom: 1rem;
    padding-top: 1rem;
}
  
  
a.icon-side-spacing{
    padding-left: 2rem;
    color:rgb(72,72,72);
  
  
}
  
a.icon-side-spacing:hover{
    text-decoration: none;
    color: inherit;
  
}

.links-list{
    list-style-type: none;
    padding-left: 2rem;
}

.icon-text{
    padding-left:1.4rem;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}
  
  
.icon-colour{
    color: rgb(99, 115, 129);
   
}

/*TopDisplayBar component*/
#stale{
  
    margin-left: 0rem;
    margin-right: 0rem;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }


 /*TestLogin and TestSignUp*/
 .authentication-card{
     margin-top:5rem;
     padding-top: 2rem;
 } 

 /*CarCard*/
 .car-card{
    margin-bottom: 2rem;
    border-radius: 0.75rem;
    box-shadow: rgb(145 158 171 / 10%) 0px 0px 2px 0px, rgb(145 158 171 / 10%) 0px 16px 32px -4px;
 }

 .image-border{
     border-top-left-radius: 0.75rem;
     border-top-right-radius: 0.75rem;
 }

 a.stretched-link{
     color: inherit;
     text-decoration: none;
 }

 /*CCustom Bootstrap Container element*/
 .custom-container.container{
     padding-left: 2rem;
     padding-right: 2rem;
 }


 /*Avatar dropdown*/
 .caret-off::before{
    display: none;
 }

 .caret-off::after{
    display: none;
 }

 #text{
     display: none;
 }


 /*Rounded button*/
 .rounded-button{
     border-radius: 20px;
 }
